.title_image{
    /* height: 100%; */
    /* width: auto; */
    position: absolute;
    /* right: var(--global-padding-single); */
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    transform-origin: left;
    /* margin-top: 70px; */


}
.title_image img{
    filter: brightness(1) saturate(1.1);
    height: 100%;
    
    transition: 2000ms;
}

.hero_container.dark .hero_image{
    filter: brightness(0.65) saturate(1.2) blur(5px);
    transform: scale(1.1);
}



.hero_container{
    height: 90vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    perspective: 1000px;
   /* animation: start-anim 1.5s ease-out; */
}

.hero_container p{
	margin-bottom: 2rem;
    line-height:1.4;
    margin-top: 0.5rem;
}

.canvas{
    height:100%;
    width: 100%;
}

.hero_info{
    position: absolute;
	color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transform: rotateY(-45deg) translateX(-100px);
    flex-direction: column;
    /* transform: rotateY(-45deg) translateX(-100px); */
    transition: 1500ms;
}



.hero_info h1{
    margin:0;
    margin-top: -1rem;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

.hero_info img{
    height: 10rem;
}

.scroll_container{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 30px;
    
}

.scroll_indicator{
    z-index: 100;
	width:20px;
	height:35px;
	border-radius: 10px;
	box-shadow: 0 0 0 1px black;
}
.scroll_indicator::before{
	content:'';
	position: absolute;
	width:5px;
	height:5px;
	border-radius: 10px;
	background-color: black;
	margin: 8px 8px;
	animation: scrolldown-animation 1s ease-in-out infinite;
}

.hero_container.dark .hero_info{
    opacity: 1;
    transform: rotateY(0);
}


.stat_badge {
    max-width: 200px;
    width: 200px;
    max-height: 200px;
    height: 200px;
    border: 2px solid  #939a96c2;
    border-radius: 50%;
    margin-bottom:15px;
    transition: 500ms;
}

.stat_badge:hover {
transform: scale(1.06);
cursor: pointer;
}

.stat_badge div {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    font-size:12px;
    margin:-3px;
    height:100%;
}

.stat_badge div {
    font-family: 'Poppins-SemiBold';
}


.stat_badge div span {
    font-size: 35px;
    font-family: 'Integral Regular';
    font-weight: 600;
    margin-bottom: 5px;
}

@keyframes scrolldown-animation {
	0%{
		transform: translateY(0);
		opacity: 0;
	}
	50%{
		height: 7px;
		opacity: 1;
	}
	100%{
		transform: translateY(12px);
		opacity: 0;
	}
}

@keyframes start-anim {
    0%{
        transform: translateY(100vh);
    }
 100%{   
    transform: translateY(0);
}
}