:root {
  --main-color:#622fd3;
  --global-padding:0 20rem;
  --global-padding-single:20rem;
}

@font-face {
  font-display: swap;
  font-family: "Integral ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: url("/public/fonts/IntegralCF-ExtraBold.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Integral Regular";
  font-style: normal;
  font-weight: normal;
  src: url("/public/fonts/IntegralCF-Regular.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("/public/fonts/Poppins-Regular.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins-SemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("/public/fonts/Poppins-SemiBold.woff2")
    format("woff2");
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Integral Regular";
  /* background-color: var(--main-color); */
  background-color: #0d0d0d;
}

p{
  font-family: "Poppins-Regular";
  font-weight: 600;
  font-size: 18px;
}

h1,h2,h3,h4 {
  font-family: "Integral ExtraBold";
}

a {
  color: inherit;
  font-family: "Integral Regular";
  text-decoration: none;
}
button{
  font-family: "Integral Regular";
}

* {
  box-sizing: border-box;
}

.firebase-emulator-warning{
  display: none;
}


@media (max-width: 1700px) {
  
  :root {
    --global-padding:0 12rem;
    --global-padding-single:12rem;
  }


}
@media (max-width: 1300px) {
  
  :root {
    --global-padding:0 10rem;
    --global-padding-single:10rem;
  }


}
@media (max-width: 1024px) {
  
  :root {
    --global-padding:0 2rem;
    --global-padding-single:2rem;
  }

}


.btn {
  padding: 0.7rem 1.5rem;
  border-radius: .1rem;
  /* font-weight: 700!important; */
  cursor: pointer;
  transition: 200ms;
  align-items: center;
  display: flex;
  gap: 10px;
  border: none; 
  /* perspective:1px; */
}
.btn:hover {
  transform: scaleX(1.08);
}



.btn.small{
  padding: 0.5rem 1rem;
  font-size: smaller;
}


.btn--primary {
  color: white;
background-color: black;
}


.btn--secondary {
  background-color:transparent;
color: black;
}


.footer_content{
  border-top: 1px #0000002e solid!important;
  background-color: white;
  /* padding:5rem 15rem; */
}


.btn--primary.light{
  background-color: #fff;
  color:black;
  border:2px #fff solid;
}

.btn--secondary.light{
  /* background-color: #e6e4e4; */
  color:white;
  border:2px #fff solid;
}

.dashboard-selected {
  background-color: #622fd3;
  border: none;
}

.dashboard-light {
  background-color: #efefef;
  border:1px solid #e0e0e0;
  /* border: none; */
  color: black;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: rgb(99, 99, 99);
  padding: 2;
}